<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">

    <a href="#" class="navbar-brand">Cadastro de Pessoas</a>

    <ul class="navbar-nav mr-auto" routerLinkActive="active">

      <li class="nav-item" *ngIf="showAdminBoard  showModeratorBoard">
        <a href="/cadastros" class="nav-link" routerLink="cadastros">Consultar</a>
      </li>

      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/add" class="nav-link" routerLink="add">Cadastrar</a>
      </li>
      
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Registre-se</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2020 @LuisNovaes</span>
  </div>
</footer>